.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:  100px; /* Adjust as needed, this makes the container take full viewport height */
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}